.vacancies-page {
  padding: 40px 80px;
  background: #f9fafb;
  min-height: 100vh;
  background: var(--bg-card);
  transition: all 0.2s linear;

  .vacancies-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 24px;
  }
}

.filter-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 24px;

  input,
  select {
    background: var(--bg-card);
    color: var(--text-color);
    border: 1px solid #008954;
    border-radius: 8px;
    padding: 10px 14px;
    font-size: 1rem;
    transition: all 0.2s linear;
    opacity: 0.7;
  }
  input::placeholder {
    color: var(--text-color);
  }

  button {
    font-weight: 500;
    padding: 10px 18px;
    background: #008954;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #005b38;
    }
  }
}

.vacancies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.vacancy-card {
  background: var(--bg-card);
  color: var(--text-color);
  border-radius: 16px;
  box-shadow: 0 4px 12px var(--card-shadow);
  padding: 24px;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-6px);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 1.25rem;
      color: var(--text-color);
    }
  }

  .vacancy-badge {
    background: #007bff;
    color: #fff;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.8rem;
  }

  &__city,
  &__salary {
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 6px 0;
  }

  &__desc {
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 12px 0 20px 0;
    flex-grow: 1;
  }

  &__btn {
    display: inline-block;
    align-self: flex-start;
    background: #008954;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s linear;

    &:hover {
      background: #005b38;
    }
  }
}

.vacancy-details-page {
  padding: 40px 80px;
  background: var(--bg-card);
  color: var(--text-color);
  min-height: 100vh;
  transition: all 0.2s linear;

  .vacancy-details-title {
    font-size: 2rem;
    margin-bottom: 8px;
  }

  .vacancy-details-city,
  .vacancy-details-salary {
    font-size: 1rem;
    margin-bottom: 6px;
    font-size: 1.2rem;
  }

  .vacancy-details-description {
    margin: 20px 0 40px 0;
    line-height: 1.6;

    font-size: 1.2rem;
  }

  h2 {
    margin-bottom: 16px;
  }
  pre {
    white-space: pre-wrap;
  }
}

.apply-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 800px;

  input,
  textarea {
    font-size: 1.2rem;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    // width: 100%;
    resize: vertical;
  }

  button {
    padding: 12px;
    background: #008954;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
    transition: background 0.2s;
    &:hover {
      background: #005b38;
    }
  }

  label {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

/* --- МОДАЛЬНОЕ ОКНО --- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.25s linear;
  z-index: 1000;
  overflow-y: auto;
}

.modal-window {
  background: var(--bg-card);
  color: var(--text-color);
  padding: 30px;
  width: 70rem;
  max-width: 90%;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  position: relative;
  animation: slideDown 0.25s linear;
}

.modal-window h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 22px;
}

.modal-window ol {
  margin-bottom: 14px;
  line-height: 1.5;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #444;
}

.modal-ok {
  margin-top: 10px;
  padding: 10px 18px;
  background: #005eff;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: #0047c7;
  }
}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-12px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* --- ССЫЛКА НА ПОЛИТИКУ --- */
.consent-wrapper {
  padding: 1.1rem 0;
  display: flex;
  gap: 6px;
  align-items: center;
  flex-wrap: wrap;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.consent-link {
  color: #005eff;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #003bb3;
  }
}

.form-error {
  color: #e53935;
  font-size: 13px;
  margin-top: 4px;
  display: block;
}

.form-error-global {
  display: flex;
  background: #fdecea;
  color: #b71c1c;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  max-width: 800px;
}
